.modal {
    color: rgb(2, 1, 1);
    border: 1px solid;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-radius: 20px 40px;
    background-image: url('../../public/img/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 10px #1a1a1a9a;
    min-width: 500px;
    min-height: 400px;
    font-size: 1.5rem;
    box-shadow: 0 0 10px #dddddd;

}
@media (prefers-color-scheme: light) {
    .modal{
       box-shadow: 0 0 15px #000000;
       border: none;
    }
}
.modal button {
    align-self: center;
    background-color: #1a1a1ad2;
    box-shadow: 0 0 5px #1a1a1a;
    transition: .3s ease-in-out scale;

}

.modal button:hover {
    scale: 1.03;
    background-color: #1a1a1af5;
}

.modal .cont-inputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:  100%;
    gap: 30px;
}

.modal label {
    display: flex;
    width: 50%;
    gap: 5px;
    align-items: center;
    

}

.modal input {
    width: 20%;
    height: 30px;
    padding: 0.2rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #1a1a1ab7;

}
.modal select{
    height: 30px;
    background-color: #1a1a1ab7;
    color: rgb(255, 255, 255, 0.87);

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}