.vendas {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
    
    border: 1px solid;
    padding: 1rem;
    border-radius: 1.3rem;
    margin-top: 15px;
    box-shadow: 0 0 .7rem #646cffaa;
    transition: ease-in-out 0.4s;

    button {
        width: 100px;
        height: 50px;
        align-self: center;
    }
    p{
        align-self: flex-start;
    }
    input {
        margin-left: .5rem;
        border: none;
        padding: .4rem;
        border-radius: .3rem;
        width: 6rem;
        text-align: center;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.vendas:hover{
    box-shadow: 0 0 1.3rem #646cffaa;
    scale: 1.03;
    border-radius: .5rem;

}