/* ProgressBar.css */
.progress-container {
  width: 100%;
  background: #e5e7eb;
  height: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #4f46e5, #22d3ee);
  width: 0%;
  border-radius: 8px;
  transition: width 0.05s linear;
}

/* PulsingLoader.css */
.pulsing-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.pulsing {
  width: 12px;
  height: 12px;
  background-color: #4f46e5;
  border-radius: 50%;
  animation: pulse 0.6s infinite alternate;
}

.pulsing:nth-child(2) {
  animation-delay: 0.2s;
}

.pulsing:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(1.6);
    opacity: 1;
  }
}

.square-loader {
  position: relative;
  width: 60px;
  height: 60px;
}

.dot {
  width: 14px;
  height: 14px;
  background: #4f46e5;
  border-radius: 50%;
  position: absolute;
  animation: move 1s infinite ease-in-out;
}

/* CANTOS DO QUADRADO */
.dot1 { top: 0; left: 0; animation-delay: 0s;   }
.dot2 { top: 0; right: 0; animation-delay: 0.25s; }
.dot3 { bottom: 0; right: 0; animation-delay: 0.5s; }
.dot4 { bottom: 0; left: 0; animation-delay: 0.75s; }

/* ANIMAÇÃO DE MOVIMENTO */
@keyframes move {
  0%   { transform: scale(1); opacity: 1; }
  25%  { transform: scale(0.4); opacity: 0.4; }
  50%  { transform: scale(1); opacity: 1; }
  75%  { transform: scale(1); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}


.stretch-loader {
  position: relative;
  width: 70px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-dot {
  width: 14px;
  height: 14px;
  background: #4f46e5;
  border-radius: 50%;
  position: absolute;
  animation: move 0.8s infinite ease-in-out;
}

/* POSIÇÕES FIXAS */
.d1 { left: 0px; }
.d2 { left: 28px; }
.d3 { left: 56px; }

/* CADA UMA COMEÇA NUM MOMENTO */
.d1 { animation-delay: 0s; }
.d2 { animation-delay: 0.15s; }
.d3 { animation-delay: 0.30s; }

/* ANIMAÇÃO */
@keyframes move {
  0% {
    transform: translateX(0) scaleX(1);
  }

  25% {
    transform: translateX(14px) scaleX(1.8);
    border-radius: 20px;
  }

  50% {
    transform: translateX(28px) scaleX(1);
  }

  75% {
    transform: translateX(14px) scaleX(0.7);
  }

  100% {
    transform: translateX(0) scaleX(1);
  }
}
