.titulo {

    text-align: center;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--cor-4);
    }
}

.imagem {
    width: 50px;
    border-radius: 5px;

}